.container{
    margin-bottom: 50px;
}

.buy-now{
    color: white;
    background-color: black;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}

.carousel-item p{
    padding: 20px 0px;
}

.carousel-indicators li{
    background-color: gray;
    width: 11px;
    height: 10px;
    border-radius: 45%;
    
    
}

.carousel-indicators .active{
    background-image: linear-gradient(to right, rgb(255, 217, 0), orange);
    width: 35px;
    border-radius: 2em/5em;
    transition: .3s;
}

.see-all{
    color: orange;
    font-weight: 500;
    font-size: x-large;    
}

.headings{
    margin-bottom: 20px;
}

.card img{
    width: 70%;
    margin: auto;
    padding-top: 5%;
}

.card-footer{
    border: none;
    background-color: transparent;
    padding-bottom: 17%;
}

.card-footer h5{
    padding-bottom: 5%;
}

.bar{
    width: 100px;
    height: 8px;
    background-image: linear-gradient(to right, rgb(255, 217, 0), orange);
    border-radius: 10px;
    margin-bottom: 20px;
}

.bottom{
    width: 100%;
}

.items{
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.3);
    padding: 20px;
}

.items img{
    width: 60%;
}

.card{
    border: none;
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.3);
}

.bottom-text{
    padding-top: 30px;
}

.rs1{
    border-radius: 0px 30px 0px 30px;
}

.rs2{
    border-radius:30px 0px 30px 0px;
}